#nombre{
    font-size: 40px;
    text-align: center;
    color: white;
}
img{
    text-align: center;
    border-radius: 10px;
}
img:hover{/*agranda la imagen cuando el mouse pasa por encima*/
    text-align: start;
    height: 400px;
}
#centrame:hover{
    text-align: start;
}
#centrame{
    text-align: center;
}


.titulos{
    text-align: inherit;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 20px;
    color: white;
}
.textos{
    text-align: center;
    color: white;
}
#final{
    text-align: center;
    font-size: 50px;
    background-color: aquamarine;
}
.subtex{
    text-align: center;
    color: white;
}
body{
    background-image: url(https://aws.traveler.es/prod/designs/v1/assets/1000x667/21250.jpg);
}
.input-estilos{
    background-color: antiquewhite;
    caret-color: yellow;
    color: brown;
}
form>label+input{
    font-size: 100px;/*INCREMENTA A TODOS LOS LABELS QUE ESTAN DENTRO DE UN FORM*/
    background-color: blueviolet;
}
