@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,800&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
label{
    margin-right: 15px;
    font-size: 20px;
}
h1{
    font-size: 50px;
}

body{
    background-color: #9EDBD2;
    text-align: center;
}


.pregunta{
    margin-bottom: 25bbbpx;
}
#frontend{
    margin-bottom: 50px;
    display: block;
    width: 50%;
    text-align: right;
}
#contenido-preguntas{
    margin-right: 70px;
    display: block;

}
#titulo-label{
    margin-left: 100px;
}

button{
    margin-top: 50px;
}
#contenedor-principal{
    background-color: white;
    margin:auto;
    width: 50%;
    height: 100vh;
    padding: 20px ;

}
#eleccion{
    margin-bottom: 50px;
    display: flex;
    width: 50%;
    text-align: right;
}
#candidato{
    margin-left: 10%;
    display: block;

}


