@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,800&display=swap');
body{
    background-color: #9EDBD2;
    text-align: center;
}
*{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
}
label{
    margin-right: 15px;
}
.pregunta{
    margin-bottom: 50px;
}
#contenedor-principal{
    background-color: white;
    margin:auto;
    width: 50%;
    height: 100vh;
    padding: 20px ;
}
button{
    margin-top: 50px;
}
#frontend{
    margin-bottom: 50px;
    display: flex;
    width: 50%;
    text-align: center;
}
#contenido-preguntas{
    margin-right: 70px;
}
#titulo-label{
    margin-left: 100px;
}